In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('stock_tweets.csv')

In [15]:
df

,Date,Tweet,Stock Name,Company Name
0,2022-09-29 23:41:16+00:00,Mainstream media has done an amazing job at br...,TSLA,"Tesla, Inc."
1,2022-09-29 23:24:43+00:00,Tesla delivery estimates are at around 364k fr...,TSLA,"Tesla, Inc."
2,2022-09-29 23:18:08+00:00,3/ Even if I include 63.0M unvested RSUs as of...,TSLA,"Tesla, Inc."
3,2022-09-29 22:40:07+00:00,@RealDanODowd @WholeMarsBlog @Tesla Hahaha why...,TSLA,"Tesla, Inc."
4,2022-09-29 22:27:05+00:00,"@RealDanODowd @Tesla Stop trying to kill kids,...",TSLA,"Tesla, Inc."
...,...,...,...,...
80788,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV,XPeng Inc.
80789,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV,XPeng Inc.
80790,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV,XPeng Inc.
80791,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV,XPeng Inc.
80792,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV,XPeng Inc.

In [14]:
print(df[df['Stock Name'] == 'TSLA']['Tweet'])

0        Mainstream media has done an amazing job at br...
1        Tesla delivery estimates are at around 364k fr...
2        3/ Even if I include 63.0M unvested RSUs as of...
3        @RealDanODowd @WholeMarsBlog @Tesla Hahaha why...
4        @RealDanODowd @Tesla Stop trying to kill kids,...
                               ...
37417    Playing in the dirt and #chasingsunsets\n@tesl...
37418    I agree with @freshjiva that $TSLA ‘s EV busin...
37419                               Hold. On. Tight. $TSLA
37420    Get ready for a $TSLA _ _ _ _ _ _  Q3 delivery...
37421    In other words, AMD has been giving Tesla pref...
Name: Tweet, Length: 37422, dtype: object

In [11]:
df.groupby('Stock Name').count().reset_index().sort_values('Tweet', ascending=False)

   Stock Name   Date  Tweet  Company Name
20       TSLA  37422  37422         37422
21        TSM  11034  11034         11034
0        AAPL   5056   5056          5056
2        AMZN   4089   4089          4089
18         PG   4089   4089          4089
14       MSFT   4089   4089          4089
16        NIO   3021   3021          3021
13       META   2751   2751          2751
1         AMD   2227   2227          2227
15       NFLX   1727   1727          1727
10       GOOG   1291   1291          1291
19       PYPL    843    843           843
7         DIS    635    635           635
3          BA    399    399           399
5        COST    393    393           393
11       INTC    315    315           315
12         KO    310    310           310
6         CRM    233    233           233
23       XPEV    225    225           225
8        ENPH    216    216           216
24         ZS    193    193           193
22         VZ    123    123           123
4          BX     50     50            50
17        NOC     31     31            31
9           F     31     31            31